*{
    padding:0;
    margin:0;
    box-sizing:inherit;
} 

html{
    /* no need to use */
    font-size:16px;
    box-sizing:border-box;
} 

body{
    background-color:#f3f3f3;
    color:#444;
    height:100vh; 
    font-family: 'Poppins', sans-serif;

} 

.nav_bar{
    display:flex;
    width:100%;
    /* position:fixed;
    top:0;  */
    padding:1.5rem 2.5rem;

    justify-content:space-between;
    align-items:center;
    /* margin-bottom: 5rem; */
    /* padding-bottom:2rem; */

}

.welcome{
    font-size:1.2rem;
    color:#440;
    /* font-weight: 540; */
} 

.logo{
    width:3.5rem;
    height:3.5rem; 
    /* border:1px solid black; */
}

.login{
    display:flex;
    align-items: center;

} 

.user_input,.user_inputt{
    border:none;
    width:7rem;
    margin:0.4rem;
    text-align: center;
    line-height:2rem;
    border-radius:10rem;
    color:inherit;
    font-family: inherit;
    transition: all 0.3s;
    border:1px solid lightgray;
    font-size:0.9rem;
} 

.user_inputt{
    width:6rem;
    border:none;
    border-radius:0.5rem;
    background-color: rgba(255, 255, 255, 0.5);


}

.user_input:focus,.user_inputt:focus{
    outline:none;
    border:1px solid #444;


} 

.userlogin_btn{
    cursor:pointer;
    border:none;
}

.user_btn{
   font-size: 1.5rem; 
} 


.app{
    position:relative;
    width:80vw; 
    /* height:80vh; */
    /* border:1px solid blue; */
    margin:2rem;
    padding:2rem;
    margin:auto;
    display:grid;
    grid-template-columns: 4fr 3fr ;
    grid-template-rows: auto repeat(2,14rem) ;
    gap:2rem;
    /* opacity:0;  */
    transition:all 1s;

} 
@media (max-width:1000px){
    .app{
    width:100vw; 
    grid-template-columns: 5fr auto ;


    }
}
.balance{
    grid-column: 1 / span 2;
    /* border:1px solid blue; */
    display:flex; 
    align-items: center;
    justify-content: space-between; 


} 

.balance_label{
    font-size:1.2rem;
    color:#440;
} 

.balance_date{
    
    color:rgb(122, 121, 121);
    font-size: 0.8rem;
    
}

.balance_amount{
    color:#440;
    font-size:1.2rem;
    
} 

.movements{
    /* border:1px solid blue;  */
    /* grid-column:1/span 2; */
    grid-row:2/span 2;
    overflow:scroll;
    /* padding:0rem 1rem; */
    /* font-family:inherit; */
    background-color:white ;
    border:1px solid rgb(228, 228, 228); 


} 

.movement_row{
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding:1rem 0rem ; 
    /* margin:1rem 0.1rem ;  */
    box-shadow:1px 1px 1px lightgray;
    /* border:1px solid lightgray;  */


} 
.movement_type{
    font-size:0.65rem;
    /* border:1px solid blue;  */
    border-radius:1.5rem;
    padding:0.1rem 0.5rem;
} 
.movement_deposit{
    background-image:linear-gradient(to top left, #39b385, #9be15d);
    color:white;
}

.movement_withdraw{
    background-image: linear-gradient(to top left, #e52a5a, #ff585f);
    color:white;
}

.movement_date{
    font-size: 0.65rem;
    color:#444;
}

.movement_amount{
    font-size: 1rem;
    color:#440;

} 


.account{
    /* grid-row:2/span 2; */ 
    display:grid;
    grid-row:2/span 2;
    grid-column: 2/span 1;

    /* grid-template-columns :; */
    /* gap-row */
    gap:2rem; 
    /* padding:3rem 4rem; */


}

.transfer,.request,.close{
    display:flex;
    flex-direction: column;
    /* border:1px solid blue; */
    align-items: center;
    justify-content: space-around; 
    padding:1rem,0rem;
    border-radius: 0.5rem;
    /* gap:10px;  */
    color:black;
    font-weight: 600;

   
}  





.transfer{
    background-image: linear-gradient(to top left, #ffb003, #ffcb03);

}
.request{
    background-image: linear-gradient(to top left, #39b385, #9be15d);

}
.close{
    background-image: linear-gradient(to top left, #e52a5a, #ff585f);

}

.transfer_login,.request_login,.close_login{
    display:flex;
    /* padding:0.2rem; */
    /* justify-content: space-around; */
    
    
} 
.label{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 0.7rem;

}

.summary{
    display:grid; 
    grid-column:1/span 2;
    grid-template-columns: repeat(3,1fr);
    /* grid-template-rows: 1fr; */
    /* border:1px solid blue; */

    justify-items:center;
    align-items: center;
    
} 
.in_outs{
    display:grid;
    /* padding:1rem; */
    /* grid-column:1/span 1; */
    width:30vw;
    grid-template-columns: repeat(3,2fr);
    /* grid-column: 1/span 2; */
    justify-items: space-between;
    /* border:1px solid blue; */
    /* color:green; */
    /* font-size:0.8rem; */


} 



#amount-in,#amount-interest{
    color:green;

}


#amount-out{
    color:red;
} 




.sort{
    text-align: center;
} 
.timer{
font-size:0.8rem;
}